@{
    ViewData["Title"] = "Home Page";
}
<div class="jumbotron1">
    <div class="jumbotron slideInUp delay1" id="divMain1" style="padding-top:0px; padding-bottom: 30px; margin-left: 86px;
        background: rgba(0, 0, 0, 0.5); margin-right:86px;">
        <img class="navbar-brand slideInLeft delay2" alt="" style=" height:100px; padding-top: 0px; padding: 10px" />
        <h1 class="text-center slideInLeft delay2" style="font-size:55px; margin-top:-70px; color:white"><b>Hospital Management System</b></h1>
    </div>
</div>
<div class="text-center" style="margin-top:50px;">
    <div class="row margin">
        <div class="col-md-4" style="margin-top:20px;">
            <a asp-controller="Auth" asp-action="PatientRegister" class="btn btn-primary btn-lg"><b>Patient Service</b></a>
        </div>
        <div class="col-md-4" style="margin-top:20px;">
            <a asp-controller="Auth" asp-action="HospitalAdminRegister" class="btn btn-warning btn-lg"><b>Hospital Administration</b></a>
        </div>
        <div class="col-md-4" style="margin-top:20px;">
            <a asp-controller="Auth" asp-action="DoctorRegister" class="btn btn-success btn-lg"><b>Doctor Service</b></a>
        </div>

    </div>
</div>
