@model HospitalManagementUI.Models.DTOs.FeedbackDTO.FacilityFeedbackDTO

@{
    ViewData["Title"] = "AddFacilityFeedback";
}

<h3>Your Feedback is important to us!</h3>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFacilityFeedback">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <select asp-for="AppointmentId" asp-items="@ViewBag.SelectListAppointment" class="form-control"></select>
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HospitalId" class="control-label"></label>
                <select asp-for="HospitalId" asp-items="@ViewBag.SelectListHospital" class="form-control"></select>
                <span asp-validation-for="HospitalId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FacilitiesFeedback" class="control-label"></label>
                @Html.TextAreaFor(m => m.FacilitiesFeedback, new { @class = "form-control" })
                <span asp-validation-for="FacilitiesFeedback" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
